.card {
    max-width: 700px;
}

.card#list {
    width: 80%;
}

.container {
    padding: 20px;
}

.sm-text {
    font-size: 10px;
    letter-spacing: 1px
}

.green-tab {
    background-color: #00C853;
    color: #fff;
    border-radius: 5px;
}

.grey-text {
    color: #BDBDBD
}

.green-text {
    color: #4CAF50
}