body{
    background-color: #f2f2f2;
}

.main{
    min-height: 100vh;
    height: 100%;
}

.footer{
    min-height: 100px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

.right{
    float: right;
}