{% load static %}

<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>

<link rel="stylesheet" href="{% static 'css/header.css' %}">

<!--HEADER-->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">
        <a class="p-2" href="{% url 'home' %}">
            <img class="mb-2" src="{% static "img/Logofinale.png" %}" alt="" width="90" height="54">
        </a>
    </h5>

    <nav class="d-flex flex-row">
        {% if user.is_authenticated %}
            <p>
                <a class="p-2" href="{% url 'home' %}">
                    <img src="https://img.icons8.com/small/18/000000/home-page.png"/>Home</a>
                <a class="p-2" href="{% url 'movie:list' %}">
                    <img src="https://img.icons8.com/metro/16/000000/search.png"/>Search</a>
                <a class="p-2" href="{% url 'movie:list' %}">
                    <img src="https://img.icons8.com/material-outlined/20/000000/cinema-.png"/>Catalog</a>
            </p>
            <div class="dropdown">
                <a class="dropbtn" id="username">
                <img src="{{ user.img.url }}" class="rounded-circle" alt="" width="34" height="34"/>{{ user.username|capfirst }}
                </a>
                <div class="dropdown-content my-4">
                    <a class="dropdown-item" href="{% url 'account:pricing' %}">Subscribe</a>
                    <a class="dropdown-item" href="{% url 'account:account' %}">Settings</a>
                    {% if user.is_staff %}
                        {% if user.is_admin %}
                            <a class="dropdown-item" href="{% url 'account:manage_account' %}">Manage Account</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'movie:create-view' %}">Add film</a>
                        <a class="dropdown-item" href="{% url 'movie:watch-list' %}">Watch List</a>
                    {% elif user.is_subscribe == 'active' %}
                        <a class="dropdown-item" href="{% url 'movie:watch-list' %}">Watch List</a>
                    {% else %}
                        <a class="dropdown-item" href="{% url 'movie:my-list' %}">Purchased Film</a>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'playlist:playlist' %}">My Playlist</a>
                    <a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
                </div>
            </div>

        {% else %}
            <p>
                <a class="p-2" href="{% url 'home' %}">
                    <img src="https://img.icons8.com/small/18/000000/home-page.png"/>Home</a>
                <a class="p-2" href="{% url 'movie:list' %}">
                    <img src="https://img.icons8.com/metro/16/000000/search.png"/>Search</a>
                <a class="p-2" href="{% url 'movie:list' %}">
                    <img src="https://img.icons8.com/material-outlined/20/000000/cinema-.png"/>Catalog</a>
                <a class="p-2" href="{% url 'account:login' %}">Login</a>
                <a class="btn btn-outline-primary" href="{% url 'account:pricing' %}">Register</a>
            </p>
        {% endif %}
    </nav>
</div>

<!--END HEADER-->