{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    {% if messages %}
        <ul class="messages" style="color: red">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </ul>
    {% endif %}

    <form class="form-signin" method="post">{% csrf_token %}
        {{ form | crispy }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Save changes</button>
    </form>

    <div class="d-flex flex-column">
        <a class="m-auto" href="{% url 'password_change' %}">Change password</a>
    </div>

{% endblock content %}