{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="d-flex flex-column">
        <h4 class="m-auto" style="color: red">You are going to delete your account.</h4>
        <h4 class="m-auto" style="color: red">Are you sure?</h4>
        <form class="form-signin" method="POST">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-outline-danger m-auto" name="delete" value="Submit">
            <a href="{% url 'account:account' %}"><button type="button" class="btn btn-outline-primary m-auto">Return to account</button></a>
        </form>
    </div>

{% endblock content %}