{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container text-center">
        <h4 style="color: red">You are going to delete the account.</h4>
        <h4 style="color: red">Are you sure?</h4>
        <form class="form-signin" method="POST">{% csrf_token %}
            {{ form.as_p }}
            {% if user.is_admin %}
                <a href="{% url 'account:manage_account' %}"><button type="button" class="btn btn-outline-primary">Cancel</button></a>
            {% else %}
                 <a href="{% url 'account:account' %}"><button type="button" class="btn btn-outline-primary">Return to account</button></a>
            {% endif %}

            <input type="submit" class="btn btn-outline-danger m-auto" name="delete" value="Delete">
        </form>
    </div>

{% endblock content %}