{% extends 'base.html' %}
{% load static %}

{% block title%} Pricing {% endblock title %}

{% block content %}

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/pricing.css' %}">

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Subscribe</h1>
        {% if user.is_subscribe != "active" %}
            <p class="lead">Choose here your subscription</p>
        {% else %}
            <p class="lead">You already have a subscription</p>
        {% endif %}

    </div>

    <div class="container">
        {% if user.is_subscribe == "active" %}
            {% if user.is_staff %}
                <h5 class="mb-3 text-center">You are a staff member</h5>
            {% else %}
                <h5 class="mb-3 text-center">Your subscription expire: {{ user.expire_date }}</h5>
            {% endif %}
        {% endif %}
        <div class="card-deck mb-3 text-center">
            {% if not user.is_authenticated %}
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Free</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">0€ <small class="text-muted"></small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>You can buy film</li>
                            <li>Create a playlist</li>
                        </ul>
                        <br>
                        <a href="{% url 'account:register' %}" type="button"
                           class="btn btn-lg btn-block btn-outline-primary" >Sign up for free</a>
                    </div>
                </div>
            {% endif %}
            {% if user.is_subscribe != "active" %}
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Monthly Subscription</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">7,99€ <small class="text-muted">/ monthly</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Illimitable access to catalog</li>
                            <li>Review and evaluate film</li>
                            <li>All privileges of Free account</li>
                        </ul>
                        {% if not user.is_authenticated %}
                            <a href="{% url 'account:register' %}?next={% url 'account:checkout'%}?price=Monthly"><button type="submit" class="btn btn-lg btn-block btn-primary">Pay</button></a>
                        {% else %}
                            <a href="{% url 'account:checkout' %}?price=Monthly"><button type="submit" class="btn btn-lg btn-block btn-primary">Pay</button></a>
                        {% endif %}
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Annual Subscription</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">79,99€ <small class="text-muted">/ annual</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>All privileges of Monthly subscription</li>
                            <li>Save 15% on the subscription</li>
                        </ul>
                        {% if user.is_authenticated %}
                            <br>
                        {% endif %}
                        {% if not user.is_authenticated %}
                            <a href="{% url 'account:register' %}?next={% url 'account:checkout'%}?price=Annual"><button type="submit" class="btn btn-lg btn-block btn-primary">Pay</button></a>
                        {% else %}
                            <a href="{% url 'account:checkout' %}?price=Annual"><button type="submit" class="btn btn-lg btn-block btn-primary">Pay</button></a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

        </div>
    </div>


{% endblock content %}
