{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <script src="{% static 'js/detail.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <!-- Film post -->
            <div class="card m-auto">
                <img class="card-img-top" src="{{ object.poster.url }}" alt="">
                <div class="card-body my-2">
                    <h2 class="card-title">{{ object.title }} - {{ object.director }}</h2>
                    <p class="card-text">{{ object.genre | capfirst}}</p>
                    <p class="card-text">{{ object.plot }}</p>
                    <div class="d-flex">
                        {% if rating.rating__avg is not None%}
                            <div class="green-tab p-2 px-3 ">
                                <p class="sm-text mb-0">OVERALL RATING</p>
                                <h4>{{ rating.rating__avg }}</h4>
                            </div>
                        {% else %}
                            <div class="gray-tab p-2 px-3 ">
                                <p class="sm-text mb-0">OVERALL RATING</p>
                                <h4>N/A</h4>
                            </div>
                        {% endif %}
                    </div>

                    {% if user.is_staff %}
                        <a href="{% url 'movie:update-film' object.pk %}" class="btn btn-outline-primary">Update</a>
                        <a href="{% url 'movie:delete-film' object.pk %}" class="btn btn-outline-danger">Delete</a>
                    {% endif %}

                    {% if user.is_authenticated %}

                        {% if user.is_subscribe == 'active' %}
                            <a href="{% url 'movie:stream-film' object.pk %}" class="btn btn-outline-primary my-2">Watch me</a>
                            <a href="{% url 'movie:create-review' object.pk %}" class="btn btn-outline-primary my-2">Review</a>
                        {% else %}
                            {% if movie %}
                                <a href="{% url 'movie:stream-film' object.pk %}" class="btn btn-outline-primary my-2">Watch me</a>
                            {% else %}
                                <a href="{% url 'movie:checkout' %}?price={{ object.pk }}" class="btn btn-outline-success my-2">Buy for {{ object.price }} €</a>
                            {% endif %}
                        {% endif %}


                        {% if playlist|length > 0 %}
                            <input id="toggle-heart" type="checkbox" data-target="#exampleModal" data-toggle="modal"/>
                            <label id="lab" class="right" for="toggle-heart" data-placement="bottom" title="Add a playlist">❤</label>

                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Select a Playlist</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="playlist" name="playlist" method="POST">{% csrf_token %}
                                                <div class="form-group">
                                                    <label for="playlist" class="form-label">Playlist</label>
                                                    <select name="playlist" required class="form-control" id="playlist">
                                                        {% for pl in playlist %}
                                                            <option>{{ pl.pk }}-{{ pl.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-outline-primary">Add</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <input id="toggle-heart" type="checkbox" data-target="#exampleModal" data-toggle="modal"/>
                            <label id="lab" class="right" for="toggle-heart" data-placement="bottom" title="Add a playlist">❤</label>

                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Create and Add to a Playlist</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="POST">{% csrf_token %}
                                                <div class="form-group">
                                                    <label for="name" class="col-form-label">Playlist name:</label>
                                                    <input type="text" value="Playlist" class="form-control" name="name" id="name">
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-outline-success">Create and Add</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'account:must_authenticate' %}?next={% url 'movie:checkout' %}?price={{ object.pk }}" class="btn btn-outline-success my-2">Buy for {{ object.price }} €</a>
                    {% endif %}
                </div>

                <div class="card-footer text-muted">
                    Director: {{ object.director }}
                    <span class="right">{{ object.release_date }}</span>
                </div>
            </div>


            {% if user.is_authenticated %}
                <div class="container">

                    <form id="contact-form" method="POST">{% csrf_token %}
                        {% if user.spoiler %}
                            <input type="checkbox" id="checkbox" name="checkbox" onclick="spoiler()" checked>
                        {% else %}
                            <input type="checkbox" id="checkbox" name="checkbox" onclick="spoiler()">
                        {% endif %}
                        <label for="checkbox" class="text-danger">Do you want spoiler?</label><br>
                    </form>

                    <a class="align-items-center" type="button" onclick="myFunction()">Show Comments</a>
                    <div id="myDIV" style="display: none">
                        <div>
                            <div class="row d-flex align-items-center justify-content-center">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="p-2">
                                            <div>
                                                {% for post in posts %}
                                                    {% if post.film_id == object.pk %}
                                                        {% if user.spoiler %}
                                                            <div class="mb-4">
                                                                <div>
                                                                    {% if post.spoiler %}
                                                                        <span class="name">{{ post.user.username }} - <span style="color: red">SPOILER</span></span>
                                                                    {% else %}
                                                                        <span class="name">{{ post.user.username }}</span>
                                                                    {% endif %}

                                                                    <div class="comment-text">{{ post.comment }}</div>

                                                                    <div class="status">
                                                                        <a class="pointer" onclick="myReply({{ post.pk }})"><small>Reply</small></a>
                                                                        {% if user.is_staff %}
                                                                            <a id="remove" href="{% url 'post:remove' post.id film.pk %}"><small>Remove</small></a>
                                                                        {% elif post.user == user %}
                                                                            <a id="remove" href="{% url 'post:remove' post.id film.pk %}"><small>Remove</small></a>
                                                                        {% endif %}
                                                                    </div>



                                                                    {% for rep in reply %}
                                                                        {% if rep.post_id == post.pk %}
                                                                            <div class="ml-4 mb-1">

                                                                                {% if rep.spoiler %}
                                                                                    <span class="name">{{ rep.user.username }} - <span style="color: red">SPOILER</span></span>
                                                                                {% else %}
                                                                                    <span class="name">{{ rep.user.username }}</span>
                                                                                {% endif %}

                                                                                <div class="comment-text">{{ rep.comment }}</div>

                                                                                <div class="status">
                                                                                    <a class="pointer" onclick="Reply({{ rep.pk }})"><small>Reply</small></a>
                                                                                    {% if user.is_staff %}
                                                                                        <a id="remove" href="{% url 'post:remove_reply' rep.id film.pk %}"><small>Remove</small></a>
                                                                                    {% elif rep.user == user %}
                                                                                        <a id="remove" href="{% url 'post:remove_reply' rep.id film.pk %}"><small>Remove</small></a>
                                                                                    {% endif %}
                                                                                </div>
                                                                            </div>

                                                                            <div id="Reply{{ rep.pk }}" style="display: none">
                                                                                <form id="contact-form2" method="POST">{% csrf_token %}
                                                                                    {% if user.spoiler %}
                                                                                        <input type="checkbox" id="checkbox" name="checkbox" checked hidden>
                                                                                    {% else %}
                                                                                        <input type="checkbox" id="checkbox" name="checkbox" hidden>
                                                                                    {% endif %}

                                                                                    <div class="comment-input my-1">
                                                                                        <input id="reply{{ post.pk }}" type="text" name="reply-{{ post.pk }}" class="form-control" value="@{{ rep.user.username }}">
                                                                                        <button type="submit" class="btn btn-outline-success right my-1">Send</button>
                                                                                    </div>
                                                                                    <label for="spoiler" class="ml-2" style="color: RED">Spoiler
                                                                                        <input type="checkbox" id="spoiler_reply" name="spoiler"></label>
                                                                                </form>
                                                                            </div>

                                                                        {% endif %}
                                                                    {% endfor %}

                                                                    <div id="myReply{{ post.pk }}" style="display: none">
                                                                        <form id="contact-form2" method="POST">{% csrf_token %}
                                                                            {% if user.spoiler %}
                                                                                <input type="checkbox" id="checkbox" name="checkbox" checked hidden>
                                                                            {% else %}
                                                                                <input type="checkbox" id="checkbox" name="checkbox" hidden>
                                                                            {% endif %}

                                                                            <div class="comment-input my-1">
                                                                                <input id="reply{{ post.pk }}" type="text" name="reply-{{ post.pk }}" class="form-control" placeholder="Reply">
                                                                                <button type="submit" class="btn btn-outline-success right my-1">Send</button>
                                                                            </div>
                                                                            <label for="spoiler" class="ml-2" style="color: RED">Spoiler
                                                                                <input type="checkbox" id="spoiler_reply" name="spoiler"></label>
                                                                        </form>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                        {% else %}
                                                            {% if not post.spoiler %}
                                                                <div class="mb-4">
                                                                    <div class="ml-2">
                                                                        <span class="name">{{ post.user.username }}</span>

                                                                        <div class="comment-text">{{ post.comment }}</div>

                                                                        <div class="status">
                                                                            <a class="pointer" onclick="myReply({{ post.pk }})"><small>Reply</small></a>
                                                                            {% if user.is_staff %}
                                                                                <a id="remove" href="{% url 'post:remove' post.id film.pk%}"><small>Remove</small></a>
                                                                            {% elif post.user == user %}
                                                                                <a id="remove" href="{% url 'post:remove' post.id film.pk%}"><small>Remove</small></a>
                                                                            {% endif %}
                                                                        </div>

                                                                        {% for rep in reply %}
                                                                            {% if rep.post_id == post.pk %}
                                                                                {% if user.spoiler %}
                                                                                    <div class="ml-4 mb-1">

                                                                                        {% if rep.spoiler %}
                                                                                            <span class="name">{{ rep.user.username }} - <span style="color: red">SPOILER</span></span>
                                                                                        {% else %}
                                                                                            <span class="name">{{ rep.user.username }}</span>
                                                                                        {% endif %}

                                                                                        <div class="comment-text">{{ rep.comment }}</div>

                                                                                        <div class="status">
                                                                                            <a class="pointer" onclick="Reply({{ rep.pk }})"><small>Reply</small></a>
                                                                                            {% if user.is_staff %}
                                                                                                <a id="remove" href="{% url 'post:remove_reply' rep.id film.pk %}"><small>Remove</small></a>
                                                                                            {% elif rep.user == user %}
                                                                                                <a id="remove" href="{% url 'post:remove_reply' rep.id film.pk %}"><small>Remove</small></a>
                                                                                            {% endif %}
                                                                                        </div>
                                                                                    </div>
                                                                                {% else %}
                                                                                    {% if not rep.spoiler %}
                                                                                        <div class="ml-4 mb-1">
                                                                                            <span class="name">{{ rep.user.username }}</span>

                                                                                            <div class="comment-text">{{ rep.comment }}</div>

                                                                                            <div class="status">
                                                                                                <a class="pointer" onclick="Reply({{ rep.pk }})"><small>Reply</small></a>
                                                                                                {% if user.is_staff %}
                                                                                                    <a id="remove" href="{% url 'post:remove_reply' rep.id film.pk %}"><small>Remove</small></a>
                                                                                                {% elif rep.user == user %}
                                                                                                    <a id="remove" href="{% url 'post:remove_reply' rep.id film.pk %}"><small>Remove</small></a>
                                                                                                {% endif %}
                                                                                            </div>
                                                                                        </div>
                                                                                    {% endif %}
                                                                                {% endif %}

                                                                                <div id="Reply{{ rep.pk }}" style="display: none">
                                                                                    <form id="contact-form2" method="POST">{% csrf_token %}
                                                                                        {% if user.spoiler %}
                                                                                            <input type="checkbox" id="checkbox" name="checkbox" checked hidden>
                                                                                        {% else %}
                                                                                            <input type="checkbox" id="checkbox" name="checkbox" hidden>
                                                                                        {% endif %}

                                                                                        <div class="comment-input my-1">
                                                                                            <input id="reply{{ post.pk }}" type="text" name="reply-{{ post.pk }}" class="form-control" value="@{{ rep.user.username }}">
                                                                                            <button type="submit" class="btn btn-outline-success right my-1">Send</button>
                                                                                        </div>
                                                                                        <label for="spoiler" class="ml-2" style="color: RED">Spoiler
                                                                                            <input type="checkbox" id="spoiler_reply" name="spoiler"></label>
                                                                                    </form>
                                                                                </div>

                                                                            {% endif %}
                                                                        {% endfor %}

                                                                        <div id="myReply{{ post.pk }}" style="display: none">
                                                                            <form id="contact-form2" method="POST">{% csrf_token %}
                                                                                {% if user.spoiler %}
                                                                                    <input type="checkbox" id="checkbox" name="checkbox" checked hidden>
                                                                                {% else %}
                                                                                    <input type="checkbox" id="checkbox" name="checkbox" hidden>
                                                                                {% endif %}

                                                                                <div class="comment-input my-1">
                                                                                    <input id="reply{{ post.pk }}" type="text" name="reply-{{ post.pk }}" class="form-control" placeholder="Reply">
                                                                                    <button type="submit" class="btn btn-outline-success right my-1">Send</button>
                                                                                </div>
                                                                                <label for="spoiler" class="ml-2" style="color: RED">Spoiler
                                                                                    <input type="checkbox" id="spoiler_reply" name="spoiler"></label>
                                                                            </form>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}

                                                <form id="contact-form1" method="POST">{% csrf_token %}
                                                    {% if user.spoiler %}
                                                        <input type="checkbox" id="checkbox" name="checkbox" checked hidden>
                                                    {% else %}
                                                        <input type="checkbox" id="checkbox" name="checkbox" hidden>
                                                    {% endif %}
                                                    <div id="comment_div" class="comment-input mt-3">
                                                        <input id="comment" type="text" name="comment" class="form-control" placeholder="Insert your comment">
                                                        <button type="submit" class="btn btn-outline-success right my-1">Send</button>
                                                        <label for="spoiler" class="mt-2" style="color: RED">Spoiler
                                                            <input type="checkbox" id="spoiler" name="spoiler"></label>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <!-- end Film post -->
            <!--Review-->
            {% for r in review %}
                {% if r.reviewed_film_id == object.pk %}
                    <div class="container my-3 mx-auto">
                        <div class="m-auto">
                            <div class="row justify-content-center mx-md-auto">
                                <div class="col-md-9 m-auto lead">
                                    <div class="card border-4 px-4">

                                        <!-- Review by user -->
                                        <div class="review p-5">
                                            <div class="d-flex">
                                                <div class="d-flex flex-column">
                                                    <h4>{{ r.writer.username | capfirst }}</h4>
                                                    <p class="grey-text">{{ r.date_posted }}</p>
                                                </div>
                                            </div>
                                            <div class=" pb-3">
                                                <div class="d-flex flex-column green-text">
                                                    <h5 class="mb-0 te">{{ r.title }}</h5>
                                                </div>
                                            </div>
                                            <div class=" pb-1">
                                                <p>{{ r.content }}</p>
                                            </div>
                                            <div class="d-flex">
                                                <div class="green-tab p-2 px-3 mx-2">
                                                    <p class="sm-text mb-0">OVERALL RATING</p>
                                                    <h4>{{ r.rating }}</h4>
                                                </div>
                                            </div>
                                        </div>
                                        {% if r.writer == user %}
                                            <div class="my-2 mx-auto">
                                                <a href="{% url 'movie:update-review' r.pk %}" class="btn btn-outline-warning">Update-Review</a>
                                                <a href="{% url 'movie:delete-review' r.pk %}" class="btn btn-outline-danger">Delete-Review</a>
                                            </div>
                                        {% elif user.is_staff %}
                                            <div class="my-2 mx-auto">
                                                <a href="{% url 'movie:delete-review' r.pk %}" class="btn btn-outline-danger">Delete-Review</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock content %}