{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block content %}

    <div class="container">

        {% if messages %}
            <ul class="messages text-center" >
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="row">
            <!-- Film post -->
            <div class="card m-auto">
                <img class="card-img-top" src="{{ object.poster.url }}" alt="">
                <div class="card-body my-2">
                    <h2 class="card-title">{{ object.title }} - {{ object.director }}</h2>
                    <p class="card-text">{{ object.genre }}</p>
                    <p class="card-text">{{ object.plot }}</p>

                    {% if user.is_staff %}
                        <a href="{% url 'movie:update-film' object.pk %}" class="btn btn-outline-primary">Update</a>
                        <a href="{% url 'movie:delete-film' object.pk %}" class="btn btn-outline-danger">Delete</a>
                        <a href="{% url 'movie:checkout' %}?price={{ object.pk }}" class="btn btn-outline-success my-2">Test buy</a>
                    {% endif %}

                    {% if user.is_authenticated %}

                        {% if user.is_subscribe == 'active' %}
                            <a href="{% url 'movie:create-review' object.pk %}" class="btn btn-outline-primary">Review</a>
                        {% else %}
                            <a href="{% url 'movie:checkout' %}?price={{ object.pk }}" class="btn btn-outline-success">Buy for {{ object.price }} €</a>
                        {% endif %}


                        {% if playlist|length > 0 %}
                            <input id="toggle-heart" type="checkbox" data-target="#exampleModal" data-toggle="modal"/>
                            <label id="lab" class="right" for="toggle-heart" data-placement="bottom" title="Add a playlist">❤</label>

                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Select a Playlist</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="playlist" class="form-label">Playlist</label>
                                                    <select name="playlist" required class="form-control" id="playlist">
                                                        {% for pl in playlist %}
                                                            <option>{{ pl.pk }}-{{ pl.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-outline-primary">Add</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <input id="toggle-heart" type="checkbox" data-target="#exampleModal" data-toggle="modal"/>
                            <label id="lab" class="right" for="toggle-heart" data-placement="bottom" title="Add a playlist">❤</label>


                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Select a Playlist</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="name" class="col-form-label">Playlist name:</label>
                                                    <input type="text" value="Playlist" class="form-control" name="name" id="name">
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-outline-success">Create and Add</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>



                <div class="card-footer text-muted">
                    Director: {{ object.director }}
                    <span class="right">{{ object.release_date }}</span>
                </div>
            </div>

            <!-- end Film post -->
            {% for r in review %}
                {% if r.reviewed_film_id == object.pk %}
                    <div class="container my-3 mx-auto">
                        <div class="m-auto">
                            <div class="row justify-content-center mx-md-auto">
                                <div class="col-md-9 m-auto lead">
                                    <div class="card border-4 px-4">

                                        <!-- Review by user -->
                                        <div class="review p-5">
                                            <div class="d-flex">
                                                <div class="d-flex flex-column">
                                                    <h4>{{ r.writer.username | capfirst }}</h4>
                                                    <p class="grey-text">{{ r.date_posted }}</p>
                                                </div>
                                            </div>
                                            <div class=" pb-3">
                                                <div class="d-flex flex-column green-text">
                                                    <h5 class="mb-0 te">{{ r.title }}</h5>
                                                </div>
                                            </div>
                                            <div class=" pb-1">
                                                <p>{{ r.content }}</p>
                                            </div>
                                            <div class="d-flex">
                                                <div class="green-tab p-2 px-3 mx-2">
                                                    <p class="sm-text mb-0">OVERALL RATING</p>
                                                    <h4>{{ r.rating }}</h4>
                                                </div>
                                            </div>
                                        </div>
                                        {% if r.writer == user %}
                                            <div class="my-2 mx-auto">
                                                <a href="{% url 'movie:update-review' r.pk %}" class="btn btn-outline-warning">Update-Review</a>
                                                <a href="{% url 'movie:delete-review' r.pk %}" class="btn btn-outline-danger">Delete-Review</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <script>
        $(function () {
            $('#lab').tooltip()
        })
    </script>

{% endblock content %}