{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row ">
            {% for film in films %}
                <div class="col-sm-4 my-2">
                    <div id="list" class="card m-auto lead">
                        <img class="card-img-top" src="{{ film.poster.url }}" alt="" height="300px">
                        <div class="card-body">
                            <a href="{% url 'movie:film-detail' film.pk %}" class="card-title h3">{{ film.title }}</a>
                            <p class="card-text">{{ film.price }} € </p>
                        </div>
                        <div class="card-footer text-muted">
                            Director: {{ film.director }}
                            <span class="right">{{ film.release_date }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


