{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}
    <div class="parent">
        {% for film in films %}
            <div class="child">
            <div class="container">
                <div class="row">
                    <div id="list" class="card m-auto">
                        <img class="card-img-top" src="{{ film.poster.url }}" alt="" width="150px" height="250px">
                        <div class="card-body">
                            <a href="{% url 'movie:film-detail' film.pk %}" class="card-title h3">{{ film.title }}</a>
                            <p class="card-text">{{ film.price }} €</p>
                        </div>
                        <div class="card-footer text-muted">
                            Director: {{ film.director }}
                            <span class="right">{{ film.release_date }}</span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>


{#    <div class="container">#}
{#        <div class="row row-cols-4">#}
{#            {% for film in films %}#}
{#                <div class="col mb-4 col-md-4">#}
{#                    <div id="list" class="card m-auto">#}
{#                        <img class="card-img-top" src="{{ film.poster.url }}" alt="" width="150px" height="150px">#}
{#                        <div class="card-body">#}
{#                            <a href="{% url 'movie:film-detail' film.pk %}" class="card-title h3">{{ film.title }}</a>#}
{#                            <p class="card-text">{{ film.price }} €</p>#}
{#                        </div>#}
{#                        <div class="card-footer text-muted">#}
{#                            Director: {{ film.director }}#}
{#                            <span class="right">{{ film.release_date }}</span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{% endblock %}


