{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/update.css' %}">
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="card m-auto">
                <div class="card-header" style="background-color: #F6F6F6">
                    <h2 class="fw-bold">Edit Film - {{ prod.title }}</h2>
                </div>
                <div class="card-body">
                    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" name="title" required value="{{ prod.title }}" class="form-control" id="title" />
                        </div>

                        <div class="mb-3">
                            <label for="genre" class="form-label">Genre</label>
                            <select name="genre" required value="{{ prod.genre }}" class="form-control" id="genre">
                                {% for x, genre in choices %}
                                    <option>{{ x }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="director" class="form-label">Director</label>
                            <input type="text" name="director" required value="{{ prod.director }}" class="form-control" id="director" />
                        </div>

                        <div class="mb-3">
                            <label for="plot" class="form-label">Plot</label>
                            <textarea required name="plot" class="form-control" id="plot">{{ prod.plot }}</textarea>
                        </div>

                        <div class="mb-3">
                            <label for="release_date" class="form-label">Release Date</label>
                            <input type="date" required name="release_date" value="{{ prod.release_date | date:'Y-m-d' }}" class="form-control" id="release_date" />
                        </div>

                        <div class="mb-3">
                            <label for="price" class="form-label">Price</label>
                            <span>(€)
                                <input type="number" required name="price" step="0.01" value="{{ prod.price }}" class="form-control" id="price" />
                            </span>
                        </div>

                        <div class="form-group image-group" id="id_image_group">
                            {% if prod.poster %}
                                <img class="img-fluid image" src="{{prod.poster.url}}" id="id_image_display" alt="">
                            {% endif %}
                            <div class="middle">
                                <div class="text">Change image</div>
                            </div>
                        </div>
                        <input class="mb-3" type="file" name="image" id="id_image_file" accept="image/*" onchange="readURL(this)">


                        <div class="pt-3">
                            <label for="video" class="form-label">Video</label>
                        </div>
                        <input type="file" name="video" accept="video/*" id="video" />

                        <div class="my-3">
                            <button type="submit" class="btn btn-outline-warning m-auto">Update</button>
                            <a href="{% url 'movie:film-detail' prod.pk %}" class="btn btn-outline-primary m-auto">Return to detail</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        document.getElementById('id_image_group').onclick = function(event){
            document.getElementById('id_image_file').click();
        };

        function readURL(input){
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#id_image_display')
                    .attr('src', e.target.result)
            };
            reader.readAsDataURL(input.files[0]);
        }
    </script>

{% endblock content %}